html, body {
  margin: 0;
  padding: 0;
  background-color: #405cb1;
}

.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.goff-logo {
  width: 25px;
  height: 50px;
  cursor: pointer;
}

.popup-image {
  max-width: 100%;
}

.root-logo {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 10px;
  width: calc(100vh/20);
  pointer-events: none;
  background-color: white;
  border-radius: 50%;
  z-index: 100;
}

@media (max-width: 650px) {
  .root-logo {
    right: 28px;
    width: 24px;
  }
}
